.pup-bool-selector {
  color: $code-orange;
  text-decoration: line-through;
  cursor: default;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $grey-lt;
    border-bottom: 1px dotted;
  }

  &.active {
    text-decoration: none;
  }
}
