.pup-playground {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > div {
    position: relative;
    padding: $space-sm;
    padding-top: $space-md;
    &:not(:last-child) {
      border-bottom: 1px solid $black;
    }
  }

  .caps-heading {
    position: absolute;
    left: 0;
    top: 0;
  }

  .playground-code {
    position: relative;
    display: block;
    background-color: $grey-dk;
    max-height: 66%;
    overflow-y: auto;

    .code-itself {
      color: $white;
      line-height: 2em;
    }

    .component-name {
      color: $code-red;
    }

    .property, .child-content {
      padding-left: 40px;
    }

    label, .label {
      color: $code-orange;
    }

    input {
      font-family: 'Fira Mono', monospace;
      border: none;
      border-bottom: 1px solid;
      box-shadow: none;
      background: none;
      color: $white;
      padding: 0;
      font-size: 16px;
      width: 240px;

      &:hover {
        border-bottom: 1px dotted;
      }
    }
  }

  .component-preview {
    font-family: $font-stack;
    flex-grow: 1;

    .component-itself {
      display: flex;
      font-size: 14px;
      // justify-content: center;
      // font-family: 'Open Sans', sans-serif;
    }

    .instructions {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: $space-sm;
      padding-top: $space-md;
      width: 100%;
      min-height: 200px;
      background-color: $white;
      border-top: 1px solid $black;
    }
  }
}
