.pup-playground {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > div {
    position: relative;
    padding: $space-sm;
    padding-top: $space-md;
    &:not(:last-child) {
      border-bottom: 1px solid $black;
    }
  }

  .caps-heading {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $black;
    color: $white;
    padding: 2px 8px;
  }

  .playground-code {
    display: block;
    background-color: $grey-dk;

    .code-itself {
      color: $white;
      line-height: 2em;
    }

    .component-name {
      color: #D62F45;
    }

    .property, .child-content {
      padding-left: 40px;
    }

    label, .label {
      color: #DE8933;
    }

    input {
      font-family: 'Fira Mono', monospace;
      border: none;
      border-bottom: 1px solid;
      box-shadow: none;
      background: none;
      color: $white;
      padding: 0;
      font-size: 16px;
      width: 240px;
    }
  }

  .component-preview {
    font-family: $font-stack;

    .component-itself {
      display: flex;
      // justify-content: center;
      // font-family: 'Open Sans', sans-serif;
    }
  }
}
