.pup-selector {
  height: 100%;
  padding: $space-sm 0;
  overflow-y: auto;

  .components-header {
    padding: $space-sm;
  }

  button {
    display: block;
    width: 100%;
    padding: $space-sm;

    &:hover,
    &:focus {
      background-color: $grey-lt;
    }

    &.selected {
      background-color: $grey-dk;
      color: $white;
    }
  }
}
