.pup-selector {
  height: 100%;
  padding: $space-sm 0;
  overflow-y: scroll;

  .components-header {
    padding: $space-sm;
  }

  li {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: $space-sm;

    &:hover,
    &:focus {
      background-color: $grey-lt;
    }

    &.selected {
      background-color: $grey-dk;
    }
  }
}
