.pup-playground {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > div {
    position: relative;
    padding: $space-sm;
    padding-top: $space-md;
    &:not(:last-child) {
      border-bottom: 1px solid $black;
    }
  }

  .caps-heading {
    position: absolute;
    left: 0;
    top: 0;
  }

  .playground-code {
    position: relative;
    display: block;
    background-color: $grey-dk;
    max-height: 66%;
    overflow-y: auto;

    .code-itself {
      color: $white;
      line-height: 2em;
    }

    .component-name {
      color: $code-red;
    }

    .property, .child-content {
      padding-left: 40px;
    }

    label, .label {
      color: $code-orange;
    }

    input {
      font-family: 'Fira Mono', monospace;
      border: none;
      border-bottom: 1px solid;
      box-shadow: none;
      background: none;
      color: $white;
      padding: 0;
      font-size: 16px;
      width: 240px;

      &:hover {
        border-bottom: 1px dotted;
      }
    }
  }

  .component-preview {
    font-family: $font-stack;
    flex-grow: 1;

    .component-itself {
      display: flex;
      font-size: 14px;
      // justify-content: center;
      // font-family: 'Open Sans', sans-serif;
    }

    .instructions {
      position: absolute;
      margin-bottom: -1px;
      bottom: 0;
      left: 0;
      width: 100%;
      color: $white;
      background-color: $grey-dk;
      border-top: 1px solid $black;

      padding: 0 $space-sm;
      min-height: 0;
      max-height: 0;
      transition: 300ms;

      button {
        position: absolute;
        left: 50%;
        bottom: 100%;
        width: 80px;
        margin-left: -40px;
        border: 1px solid $black;
        background-color: $grey-dk;

        .caps-heading {
          bottom: 100%;
          top: auto;
          width: 120px;
          left: 50%;
          margin-left: -60px;
          text-align: center;

          background-color: transparent;
          color: $black;
        }

        .material-icons {
          color: $white;
        }

        &:hover {
          background-color: $grey-lt;

          .material-icons {
            color: $black;
          }
        }
      }

      &.open {
        padding: $space-sm;
        padding-top: $space-md;
        min-height: 200px;
        max-height: none;
      }
    }
  }
}
