#app {
  display: flex;
  justify-content: center;
  background-color: $grey-lt;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

html {
  font-family: 'Fira Mono', monospace;

  * {
    box-sizing: border-box;
  }
}

.pup-container {
  display: flex;
  position: relative;
  overflow: hidden;

  width: 100%;
  margin: $space-sm;

  background-color: $white;
  border: 1px solid black;

  .sidebar-left {
    display: flex;
    flex-direction: column;
    width: $sidebar-md;
    border-right: 1px solid $black;
  }

  .main {
    flex-grow: 1;
  }

  .source-link {
    position: absolute;
    font-size: 12px;
    right: $space-sm;
    bottom: $space-sm;
    text-decoration: none;
    border-bottom: 1px solid;
    color: $peerio-blue;

    &:active, &:focus {
      color: $peerio-blue;
    }

    &:hover {
      border-bottom: 1px dotted;
    }

    .material-icons {
      color: inherit;
    }
  }
}

.pup-logo {
  display: flex;
  flex-direction: column;

  text-align: center;

  width: 100%;
  padding: $space-sm;

  background-color: $black;
  color: $white;

  .main-title {
    font-size: $font-lg;
  }

  .sub-title {
    text-transform: uppercase;
  }
}
