#app {
  display: flex;
  justify-content: center;
  background-color: $grey-lt;
  min-height: 100vh;
}

html * {
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
}

.pup-container {
  display: flex;
  position: relative;


  width: 100%;
  margin: $space-md;
  margin-top: $space-md;

  background-color: $white;
  border: 1px solid black;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  width: $sidebar-sm;
}

.pup-logo {
  display: flex;
  flex-direction: column;

  text-align: center;

  width: 100%;
  padding: $space-sm;

  background-color: $black;
  color: $white;

  .main-title {
    font-size: $font-lg;
  }

  .sub-title {
    text-transform: uppercase;
  }
}
