// Variables
$white: #fff;
$black: #000;
$grey-lt: #eee;
$grey-dk: #232323;

$space-sm: 16px;
$space-md: 32px;
$space-lg: 64px;

$sidebar-sm: 160px;
$sidebar-md: 160px;

$font-lg: 24px;

// General styles
.caps-heading {
  font-style: italic;
  text-transform: uppercase;
  font-size: 12px;
}

// Overrides
.p-dialog .body {
  font-family: $font-stack;
}
