// Variables
$white: #fff;
$black: #000;
$grey-lt: #eee;
$grey-dk: #ddd;

$space-sm: 16px;
$space-md: 40px;

$sidebar-sm: 160px;
$sidebar-md: 240px;

$font-lg: 24px;

// General styles
.caps-heading {
  font-style: italic;
  text-transform: uppercase;
  font-size: 12px;
}
