// Variables
$white: #fff;
$black: #000;
$grey-lt: #eee;
$grey-dk: #262626;

$code-red: #D62F45;
$code-orange: #DE8933;
$code-yellow: #CC0;

$space-sm: 16px;
$space-md: 32px;
$space-lg: 64px;

$sidebar-sm: 160px;
$sidebar-md: 160px;

$font-lg: 24px;

// Misc styles
.pup-container {

  // General styles
  button {
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    font-family: 'Fira Mono', monospace;
  }

  .caps-heading {
    font-style: italic;
    text-transform: uppercase;
    font-size: 12px;
    background-color: $black;
    color: $white;
    padding: 2px 8px;
  }

  // Overrides
  a .material-icons,
  .clickable.material-icons {
    cursor: pointer;
  }

  .p-button {
    font-family: $font-stack;
  }
}
.p-dialog .body {
  font-family: $font-stack;
}
